@model CrudListDto

@{
    ViewData["Title"] = Model.ListName;

    var type = Model.GetType().GenericTypeArguments.First();
    var propertyList = type.GetProperties().Where(x =>
    {
        var attr = x.GetAttribute<d>();
        if (attr?.OnList == false)
            return false;
        return true;
    }).ToArray();
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveBaseTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveBaseTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCharged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
